@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument-sans), var(--font-otomanopee), Arial, Helvetica, sans-serif;
}

/* Clases para las fuentes personalizadas */
.font-instrument-sans {
  font-family: var(--font-instrument-sans);
}

.font-otomanopee {
  font-family: var(--font-otomanopee);
}